<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная/Клиенты
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header-clients.pug
		main#content
			.wrapper
				.page-toggle
					.page-toggle__item
						a.default-btn(href="#") 
							span.default-btn__text Клиенты
					.page-toggle__item
						a.default-btn.default-btn--bordered(href="#") 
							span.default-btn__text Сотрудники
				.last-seen.last-seen--client
					.last-seen__profile
						.last-user
							.last-user__title Последний замечен
							.last-user__profile
								.user
									figure.user__img
										img(src="img/photos/user-img.jpg")
									.user__desc
										.ud
											.ud__name 
												span Дмитрий Жердев
												.ud__name-temp
											.ud-client
												.ud-client__item
													.ud-client__label Стутаус клиента
													.ud-client__status.ud-client__status--vip 
														|VIP - клиент
												.ud-client__item
													.ud-client__label Средний чек
													.ud-client__acct 30 000 руб.
							.last-user__btns
								.lu-btns
									.lu-btns__item
										a.default-btn(href="#") 
											span.default-btn__text Перейти в профиль
									.lu-btns__item
										a.default-btn.default-btn--bordered(href="#")
											include ../img/ico-photo.svg
											span.defaul-btn__text Показать фото

						.last-user.last-user--counter
							.last-user__title Счетчик
							.lu-counter
								.lu-counter__label Количество входов в магазин:
								.lu-counter__summary 68 человек


					.last-seen__camera
						.l-camera
							.l-camera__video
								video(muted="" poster="img/photos/camera-poster.jpg")
							.l-camera__toggler
								.camera-toggler
									.camera-toggler__text Вход
									.camera-toggler__btn
										.ct-btn.ct-btn--left
											<!-- ct-btn--right для переключения в другую сторону -->
									.camera-toggler__text Выход			
				.users-list.users-list--clients
					.users-list__title Клиенты
					.users-list__sort
						form(action="#")
							.ul-sort.ul-sort--clients
								.ul-sort__search
									.default-input
										input.default-input__input(type="text" placeholder="Введите имя, фамилию")
								.ul-sort__print
									a.default-btn.default-btn--bordered.fancybox(href="#")
										span.default-btn__text Посмотреть отчет
								.ul-sort__selects 
									.sort-selects
										.sort-selects__item
											.sort-selects__title Выбрать период по времени:
										.sort-selects__item 
											.sort-selects__title с
										.sort-selects__item
											.default-input
												select.default-input__input.default-input__input--select
													- for (let i = 1; i <= 31; i++)
														option(value=i)=i
										.sort-selects__item
											.default-input
												select.default-input__input.default-input__input--select
													option(value="0") Январь
													option(value="1") Январь
													option(value="2") Январь
													option(value="3") Январь
													option(value="4") Январь
													option(value="5") Январь
										.sort-selects__item 
											.sort-selects__title по
										.sort-selects__item
											.default-input
												select.default-input__input.default-input__input--select
													- for (let i = 1; i <= 31; i++)
														option(value=i)=i
										.sort-selects__item
											.default-input
												select.default-input__input.default-input__input--select
													option(value="0") Январь
													option(value="1") Январь
													option(value="2") Январь
													option(value="3") Январь
													option(value="4") Январь
													option(value="5") Январь
					.users-list__table
						table.ul-table
							thead
								tr
									th Клиент 
									th Статус пользователя
									th Дата
									th Время
							tbody
								each user, i in [{name: "Дмитрий Жердев", status: "VIP  - клиент"}, {name: "Алексей Попков", status: "VIP  - клиент"},{name: "Екатерина Клочнева", status: "VIP  - клиент"}]
									tr
										td
											.ul-user
												figure.ul-user__img
													img(src="img/photos/ul-img-"+i+".jpg")
												.ul-user__name=user.name
										td 
											div.ul-user__status.ul-user__status--vip=user.status
										td 
											div 23.01.2020
												a.photo(data-fancybox="" href="#")
										td 
											div 18:40:03
												a.photo(data-fancybox="" href="#")
								tr
									td
										.ul-user
											figure.ul-user__img
												img(src="img/photos/autist.jpg")
											.ul-user__name Вадим Дибров
									td 
										div.ul-user__status.ul-user__status--unwanted Нежелетальный
									td
										div 23.01.2020
											a.photo(data-fancybox="" href="#")
									td 
										div 08:39:03
											a.photo(data-fancybox="" href="#")
								each user, i in [{name: "Владислав Митрошин", status: "Нежелетальный"}, {name: "Иван Климов", status: "Нежелетальный"}]
									tr
										td
											.ul-user
												figure.ul-user__img
													img(src="img/photos/ul-img-"+(i+4)+".jpg")
												.ul-user__name=user.name
												
										td 
											div.ul-user__status.ul-user__status--unwanted=user.status
										td 
											div 23.01.2020
												a.photo(data-fancybox="" href="#")
										td 
											div 08:39:03
												a.photo(data-fancybox="" href="#")
					.users-list__btn
						a.default-btn.default-btn--bordered(href="#")
							include ../img/ico-refresh.svg
							<!-- default-btn--loading для анимации загрузки -->
							span.default-btn__text Показать ещё
		include inc/footer.pug
		include inc/scripts.pug