<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная/Клиенты
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header-clients.pug
		main#content
			.wrapper
				.page-toggle
					.page-toggle__item
						a.default-btn(href="#") 
							span.default-btn__text Клиенты
					.page-toggle__item
						a.default-btn.default-btn--bordered(href="#") 
							span.default-btn__text Сотрудники
				.last-seen.last-seen--client
					.last-seen__profile
						.last-user
							.last-user__title Последний замечен
							.last-user__profile
								.user
									figure.user__img
										img(src="img/photos/user-img.jpg")
									.user__desc
										.ud
											.ud__name 
												span Дмитрий Жердев
												.ud__name-temp
											.ud-client
												.ud-client__item
													.ud-client__label Стутаус клиента
													.ud-client__status.ud-client__status--vip 
														|VIP - клиент
												.ud-client__item
													.ud-client__label Средний чек
													.ud-client__acct 30 000 руб.
							.last-user__btns
								.lu-btns
									.lu-btns__item
										a.default-btn(href="#") 
											span.default-btn__text Перейти в профиль
									.lu-btns__item
										a.default-btn.default-btn--bordered(href="#")
											include ../img/ico-photo.svg
											span.defaul-btn__text Показать фото

						.last-user.last-user--counter
							.last-user__title Счетчик
							.lu-counter
								.lu-counter__label Количество входов в магазин:
								.lu-counter__summary 68 человек


					.last-seen__camera
						.l-camera
							.l-camera__video
								video(muted="" poster="img/photos/camera-poster.jpg")
							.l-camera__toggler
								.camera-toggler
									.camera-toggler__text Вход
									.camera-toggler__btn
										.ct-btn.ct-btn--left
											<!-- ct-btn--right для переключения в другую сторону -->
									.camera-toggler__text Выход			
				.users-list
					.users-list__title Клиенты
					.users-list__sort
						form(action="#")
							.ul-sort
								.ul-sort__search
									.default-input
										input.default-input__input(type="text" placeholder="Введите имя, фамилию")
								.ul-sort__print
									a.default-btn.default-btn--bordered.fancybox(href="#")
										span.default-btn__text Посмотреть отчет
								.ul-sort__selects 
									.sort-selects
										.sort-selects__item
											.default-input
												select.default-input__input.default-input__input--select
													- for (let i = 1; i <= 31; i++)
														option(value=i)=i
										.sort-selects__item
											.default-input
												select.default-input__input.default-input__input--select
													option(value="0") Январь
													option(value="1") Январь
													option(value="2") Январь
													option(value="3") Январь
													option(value="4") Январь
													option(value="5") Январь
										.sort-selects__item
											.default-input
												select.default-input__input.default-input__input--select
													option(value="0") Сортировать по: дате (посление замеченные)
													option(value="1") Сортировать по: дате (посление замеченные)
													option(value="2") Сортировать по: дате (посление замеченные)
													option(value="3") Сортировать по: дате (посление замеченные)
													option(value="4") Сортировать по: дате (посление замеченные)
					.users-list__table
						table.ul-table
							thead
								tr
									th Сотрудник 
									th Должность
									th Подразделение
									th Дата
									th 
										div Камера на входе
										div (первая запись)
									th 
										div Камера на входе
										div (последняя запись)
									th 
										div Камера на входе
										div (последняя запись)
									th Провел на работе
							tbody
								each user, i in [{name: "Дмитрий Жердев", pos: "Руководитель отдела разработки", dep: "Отдел разработки"}, {name: "Алексей Попков", pos: "Маркетолог", dep: "Отдел разработки"},{name: "Екатерина Клочнева", pos: "Интернет маркетолог", dep: "Контекстная реклама"}]
									tr
										td
											.ul-user
												figure.ul-user__img
													img(src="img/photos/ul-img-"+i+".jpg")
													<!-- user-dot--absence если отсутствует -->
													.user-dot.user-dot--working
												.ul-user__name=user.name
										td 
											div=user.pos
										td 
											div=user.dep
										td 
											div 23.01.2020
										td 
											div 08:40:03
												a.photo(data-fancybox="" href="#")
										td 
											div 08:39:03
												a.photo(data-fancybox="" href="#")
										td 
											div 18:40:03
												a.photo(data-fancybox="" href="#")
										td 
											div 09:13:35
								tr
									td
										.ul-user
											figure.ul-user__img
												img(src="img/photos/autist.jpg")
												<!-- user-dot--absence если отсутствует -->
												.user-dot.user-dot--absence
											.ul-user__name Вадим Дибров
									td 
										div Разнорабочий
									td 
										div Управление проектами
									td 
										div 23.01.2020
									td 
										div 08:40:03
											a.photo(data-fancybox="" href="#")
									td 
										div 08:39:03
											a.photo(data-fancybox="" href="#")
									td 
										div 18:40:03
											a.photo(data-fancybox="" href="#")
									td 
										div 09:13:35
								each user, i in [{name: "Владислав Митрошин", pos: "Программист", dep: "Группа программирования"}, {name: "Иван Климов", pos: "Программист", dep: "Группа программирования"}]
									tr
										td
											.ul-user
												figure.ul-user__img
													img(src="img/photos/ul-img-"+(i+4)+".jpg")
													<!-- user-dot--absence если отсутствует -->
													.user-dot.user-dot--working
												.ul-user__name=user.name
												
										td 
											div=user.pos
										td 
											div=user.dep
										td 
											div 23.01.2020
										td 
											div 08:40:03
												a.photo(data-fancybox="" href="#")
										td 
											div 08:39:03
												a.photo(data-fancybox="" href="#")
										td 
											div 18:40:03
												a.photo(data-fancybox="" href="#")
										td 
											div 09:13:35
					.users-list__btn
						a.default-btn.default-btn--bordered(href="#")
							include ../img/ico-refresh.svg
							<!-- default-btn--loading для анимации загрузки -->
							span.default-btn__text Показать ещё
		include inc/footer.pug
		include inc/scripts.pug